body{
    margin : 0 ;
    background-image: url("img/bg.jpg");
}
h1{
    margin : auto ;
    color : white ;
    padding: 10px ;
    text-align: center;
}
#container{
    max-width: 85%;
    display: flex;
    flex-direction: row;
   
    height: 550px;
    margin : auto ;
   
}
#comp,#exp{
    flex:50% ;  
    border-radius: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}
#comp h3,#exp h3{
    text-align: center;

}
dl{
    position: relative;
    left : 3px ;
}

#comp{
    background-color: cornsilk;
    margin-right: 10px;
    
}
#exp{
    background-color: rgb(1, 10, 20);
    color: white;
}
