body{
    margin:0  ;
    background-image: url("fond.jpg");
}
#app{
    position: relative;
    top:20px ;
    margin:auto;
    padding: 5px;
    max-width: 500px;
    color: white;
    background-color: rgb(0, 0, 0);
}
.como{
    width: 100%;
    background-color: rgba(1, 1, 19, 0.562);
}
.pdpuser2{
    width: 5%;
    border-radius: 75px;
}
.pdp1{
    width: 10%;
    border-radius: 75px;
}
button{
    background-color:rgb(255, 255, 255) ;
    color: black;
}
.comsa{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#ee{
    width: 80%;
}
#mes{
    width:10% ;
    position:relative ;
    left: 350px ;
}
h2{
    display: inline;
}
h3{
    position: absolute;
    bottom: 0px;
}